body {
  font-weight: 400;
  font-family: var(--body-font);
  font-size: 1rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
  font-family: var(--title-font);
}

h1 {
  font-size: var(--font-size-hero);
}
h2 {
  font-size: var(--font-size-large);
}
h3 {
  font-size: var(--font-size-medium);
}




input, 
textarea {
  background-color: var(--silver);
  border-radius: 0;
  border: none;
  max-width: 50rem;
  width: 100%;
}

.submit-button {
  border: 2px solid var(--crayola);
  padding: 1.2rem;
}