/* root is the highest level in order to apply all styles */
:root {
  --warm-sand: #F9F3E6;
  --silver: #C9C7C7;
  --cadet: #B4BBC8;
  --crayola: #9FAFC9;
  --sage: #8B8F74;
  --dark-sage: #3F4441;
  --dark-crayola: #30353F;
  --blue-sand: #4C6F7B;
  
  --title-font:'Josefin Slab';
  --body-font: 'KoHo';

/*  desktop: 1280×720  mobile: 360×640 */
/* vw value is relative to the viewport width, and so 10vw is 10 percent of the width of the viewport. */

  --font-size-hero: clamp(4rem, -2.0714rem + 25.9048vw, 12.5rem);
  --font-size-large: clamp(4.24rem, 7.356522vi + 2.58rem, 8.47rem);
  --font-size-medium: clamp(2.62rem, 4.556522vi + 1.59rem, 5.24rem);
  --font-size-small:  clamp(1rem, 1.73913vi + 0.61rem, 2rem);

  /* clamp(4rem, -2.0714rem + 25.9048vw, 12.5rem) */

  --card-radius: 1rem;
}